.app-main {
  width: 100%;
  position: relative;
}

.main-content {
  height: 100%;
  min-height: 100%;
}


.sticky-header-table {
  height: 310px;
}


.body--dark .sticky-header-table .q-table__top,
.body--dark .sticky-header-table .q-table__bottom,
.body--dark .sticky-header-table thead tr:first-child th {
  background-color: #2a2b2c;
}

.body--light .sticky-header-table .q-table__top,
.body--light .sticky-header-table .q-table__bottom,
.body--light .sticky-header-table thead tr:first-child th {
  background-color: rgb(249, 249, 249);
}

.sticky-header-table thead tr th {
  position: sticky;
  z-index: 1;
}

.sticky-header-table thead tr:first-child th {
  top: 0;
}

.sticky-header-table.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}