
//menu color light
$ITEM_COLOR: #2c3e50;
$ACTIVE_COLOR: #1976d2;
$ACTIVE_BACKGROUND: rgba(25, 118, 210, 0.0618);

//menu color dark
$ITEM_COLOR_DARK: #2c3e50;
$ACTIVE_COLOR_DARK: #d2d9e0;
$ACTIVE_BACKGROUND_DARK: rgba(202, 207, 212, 0.062);